table.tablesaw {
	font-family:Verdana, Arial;
	border:1px solid #CDCDCD;
	margin:10px 0px 0px;
	width: 100%;
	text-align: left;
  border-spacing: 1px;
}

table.tablesaw tr{
	border:1px solid #CDCDCD;
}

table.tablesaw thead tr th, table.tablesaw tfoot tr th, table.tablesaw th.header {
	background-color: #C7E7FF;
	font-size:0.75em;
	padding: 4px;
}

table.tablesaw thead tr .tablesorter-header {
	background-image: url('../images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right:10px;
}

table.tablesaw thead tr .sorter-false {
	background-image: none;
	cursor:default;
}

table.tablesaw tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesaw tbody tr:nth-child(odd) td {
	background: #F1F9FF;
}

table.tablesaw tbody tr:nth-child(even) td {
	background:#fff
}

table.tablesaw tbody tr:nth-child(odd):hover td  {
	background-color:#F1FFF6;
}

table.tablesaw tbody tr:nth-child(even):hover td  {
	background-color:#F1FFF6;
}

.tablesort{
	border:1px solid #CDCDCD;
	border-top:0;
	background-color: #E3F3FF;
}
