table.tablesaw {
	font-family:Verdana, Arial;
	border:1px solid #CDCDCD;
	margin:10px 0px 0px;
	width: 100%;
	text-align: left;
  border-spacing: 1px;
}

.tablesaw-sortable-head{
	position:static
}

table.tablesaw tr{
	border:1px solid #CDCDCD;
}

table.tablesaw td,
table.tablesaw th{
	border:1px solid #CDCDCD
}

table.tablesaw th{
	background-color: #C7E7FF;
	font-size:0.75em;
	padding: 4px;
}

table.tablesaw tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}

table.tablesaw tbody tr:nth-child(odd) td {
	background: #F1F9FF;
}

table.tablesaw tbody tr:nth-child(even) td {
	background:#fff
}

table.tablesaw tbody tr:nth-child(odd):hover td  {
	background-color:#F1FFF6;
}

table.tablesaw tbody tr:nth-child(even):hover td  {
	background-color:#F1FFF6;
}

.tablesaw-sortable-arrow:after{
	font-weight:bold;
	font-size:1.3em;
}
